{{ blok._editable }}
<div class="media">
  <div class="media-left">
    <svg class="ico ico--colored">
      <use xlink:href="#{{ blok.icon.icon }}"></use>
    </svg>
  </div>
  <div class="media-body">
    <h5 class="title">{{ blok.title }}</h5>
    <p>{{ blok.description }}</p>
  </div>
</div>