{{ blok._editable }}
<div class="features-item text-center col-sm-3 col-xs-12">
  <div class="icon-outer">
    <svg class="ico features-icon">
      <use xlink:href="#{{ blok.icon.icon }}"></use>
    </svg>
  </div>

  <h4 class="title m-t-30">{{ blok.title }}</h4>

</div>